@charset "UTF8";


@media screen and (min-width:768px) and (max-width:992px) {

    html, body {
        background-image: linear-gradient(to bottom, #21368b, #7990EB);
    }
    
    section#login {
        width:80vw ;
        height: 300px;

        transition: width 1s, height 1s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.35, 0.65);
    }

    div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){

    html, body {
        background-image: linear-gradient(to bottom, #21368b, #7990EB);
    }
    
    section#login {
        width: 70%;
        height: 350px;

        transition: width 1s, height 1s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.35, 0.65);
    }    

    div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#form {
        float: left;
        width: 50%;
    }
}