@charset "utf8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --principal: #7990EB;
    --formulario: #41539E;
    --btn: #9CAFFF;
    --black: #000000;
    --white: #ffffff;
}

html, body {
    background-color: var(--principal);
    width: 100vw;
    height: 100vh;
    
}

section#login {
    background-color: var(--white);
    height: 540px;
    width: 270px;
    border-radius: 20px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#login h1 {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 10px;
}

#form p {
    text-align: justify;
    font-family: sans-serif;
    font-size: 14px;
}

section > div#form {
    padding: 15px;
}

div#img {
    background-image: url(../imagens/entrada.jpg) ;
    background-size: cover;
    background-position: left bottom;
    height: 200px;

}

div.campo {
    background-color: var(--formulario);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #41539E;
    
}

#icon1, #icon2 {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}


#iemail, #isenha {
    background-color: #b3c1fa;
    height: 100%;
    width: calc(100% - 45px);
    font-size: 1em;
    border-radius: 8px;
    outline: none;
    border: 0px;

    transform: translateY(-13px);
}

#isenha:focus, #iemail:focus {
    background-color: white ;
   
}

form > input[type=submit]{
    font: 1.2em solid var(--white);
    height: 40px;
    width: 100%;
    border-radius: 5px ;
    border: none;
    font: 1.3em bolder ;
    background-color: var(--btn);
    color: white
}

input[type=submit]:hover {
    background-color: #4c5fad ;
    cursor: pointer;

    transition: 0.3s;
    
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--btn);
    color: #4664dd;
    margin: 5px 0px;
    padding-top:5px;

}

a:hover {
    background-color: #b3c1fa;
}