@charset "utf8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --principal: #7990EB;
    --formulario: #41539E;
    --btn: #9CAFFF;
    --black: #000000;
    --white: #ffffff;
}

html, body {
    background-color: var(--principal);
    width: 100vw;
    height: 100vh;
    
}

div#img {
    background-image: url(../imagens/entrada.jpg) ;
    background-size: cover;
    background-position: left bottom;
    
    height: 200px;

}

section#login {
    background-color: var(--white);
    height: 520px;
    width: 270px;
    border-radius: 20px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#login h1 {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 10px;
}

section > div#form {
    padding: 10px;
}