body {
    background-color: gray;
    background-image: url('/desafios/d11/imagens/espaco.jpg');
    background-size: 100% 100%;
    position: relative;
    height: 97.5vh;


}
    
#conteudo {
    background-image: url('/desafios/d11/imagens/astronauta.png');
    background-size: 100% 100%;
    background-position: center center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    height: 400px;
    width: 400px;
    transform: translate(-50%, -50%);
}